.successNotification {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  .errorNotification {
    background-color: #f44336;
    color: white;
    padding: 1em;
    text-align: center;
  }

  