/* searchBar.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 20vh; */
  background-color: #ededed;
  /* Background color */

  /* Create space around the search bar */
  padding: 20px;
  /* Adjust the padding as needed */
  padding-bottom: 30px;

}


.search-bar {
  display: flex;
  align-items: center;
  
  border-radius: 30px;
  /* Rounded edges */
  padding: 30px;
  background: #4b445360;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
}

.selectorSearch {
  text-align: center;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  background: #ff0000;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

/* searchBar.module.css */

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ccc;
  /* Grey background color */
  padding: 10px;
  border-radius: 30px;
}


.button {
  background: #ff0000;
  /* Red button color */
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  
}

.button:hover {
  background: #972f2f;
  /* Darker red color on hover */
}

.sortSection {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: black;
  
  opacity: 84%;
  height: 100%;
  width: 100%;
  padding-top: 15%;
  z-index: 1;
}

.containerdropdown {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  position: relative;
  min-width: 150px;
  height: 45px;
}

.dropdown {
  border-radius: 37px;
  height: 40px;
  text-align: center;
  width: 140px;
  background-color: #ff0000;
  font-weight: bold;
  color: white;
}

.dropdown2 {
  border-radius: 37px;
  height: 40px;
  text-align: center;
  width: 140px;
  background-color: #ff0000;
  font-weight: bold;
  color: white;
}

.recipefilters {
  display: flex;
  align-items: center;
  height: 50px;
  color: black;
}

.fillSteps {
  border-radius: 40px;
  height: 40px;
  text-align: center;
  background-color: #ff0000;
  width: 140px;
  font-weight: bold;
  color: white;

}

.tags {
  border-radius: 37px;
  height: 40px;
  text-align: center;
  width: 140px;
  background-color: #ff0000;
  font-weight: bold;
  color: white;
}

.filters {
  text-align: center;
  border: 2px solid #ff0000;
  border-radius: 3em;
  width: 400px;
  height: 400px;
  background-color: snow;
  color: white;
  
}

.filterBtn {
  background: #ff0000;
  /* Red button color */
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 30px;
  margin-left: 20px;
}

.filtersDiv {
  margin-top: 20px;
  color: black;
  font-weight: bold;
}


/* Mobile View */

@media screen and (max-width: 600px) {

  .filters {
    margin-top: 20px;
    width: 100%;
  }


}