.list {
    width: 100%;
    /* max-width: 40rem; */
    /* margin: 5rem auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2em;

  }

  .container {
    text-align: center;
  }

  /* .imageContainer {

  } */