.item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: #FDF7FF;
  height: 500px;
  width: 300px;
  text-align: center;

}

.title1 {
  height: 57px;
  margin-bottom: 26px;
  color: rgb(0, 0, 0);

}

.link a {
  text-decoration: none;
  color: #333;
}

/* Styles for the View Recipe button */

.viewRecipeButtonText {
  color: white;
  font-size: 14px;
  /* Adjust the font size */
}

/*
  .content time {
    color: #666666;
    font-weight: bold;
  }
  
  .content address {
    margin: 0.5rem 0;
    color: #666666;
    white-space: pre;
  } */

.actions {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.actions {
  flex-direction: row;
  justify-content: center;
}


/* CookingTime.module.css */

.cookingContainer {
  display: flex;
  justify-content: center;
}

.cookingTime {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  

}

.label {
  font-size: smaller;
  display: flex;
  margin-right: 15px;
  flex-grow: 1;

}

/* .value {
  font-size: smaller;
  display: flex;
  text-align: center;
  flex-grow: 1;
  font-weight: normal;
  font-weight: bold;
  

} */

@media (max-width: 480px) {
  .item {
    margin-bottom: 40px;
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.favoriteButton {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px; /* Adjust padding as needed */
}
