@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;

}

.rando {
  text-align: center;
  font-family: var(--v-heading-font);
  font-weight: 400;
  font-style: italic;

}

.container {
  text-align: center;
}

/* .imageContainer {

  } */

  @media (max-width: 480px) {
    .list {
      width: 100%;
      display:list-item;
      
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2em;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2em;
    }
  }