.footer {
    background-color:  #E12626;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .logo img {
    width: 150px;
    height: 60px;
  }
  
  .socialMedia {
    display: flex;
    gap: 10px;
  }
  
  .socialMedia a {
    text-decoration: none;
    color: white; /* Set the color for the social media icons */
  }
  
  .connectWithUs {
    display: flex;
    align-items: center;
  }
  
  .connectWithUs input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .connectWithUs button {
    background: white;
    color: #E12626;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style the social media icons */
  .socialMedia a:hover {
    color: #ffcc00; /* Change color on hover */
  }
  
  /* Style the email input and 'Connect with Us' button */
  .connectWithUs input {
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .connectWithUs button {
    padding: 10px 20px;
    background-color: #db3434; /* Adjust the button background color as needed */
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}