/* footer.module.css */
.footer {
    background-color:  #E12626;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .logo img {
    width: 150px;
    height: 60px;
  }
  
  .socialMedia {
    display: flex;
    gap: 10px;
  }
  
  .socialMedia a {
    text-decoration: none;
    color: white; /* Set the color for the social media icons */
  }
  
  .connectWithUs {
    display: flex;
    align-items: center;
  }
  
  .connectWithUs input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .connectWithUs button {
    background: white;
    color: #E12626;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style the social media icons */
  .socialMedia a:hover {
    color: #ffcc00; /* Change color on hover */
  }
  
  /* Style the email input and 'Connect with Us' button */
  .connectWithUs input {
    background: white;
    color: rgb(134, 60, 60);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .connectWithUs button {
    background: rgb(127, 9, 9);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  